
<div class="row">
  <ul class="semaforo">
    <li custom-color 
        [color]="colorRecibido"
        class="rojo"></li>
    <li custom-color 
        [color]="colorRecibido"
        class="amarillo"></li>
    <li custom-color 
        [color]="colorRecibido"
        class="verde"></li>
  </ul>
  
  <div class="contenedor m-3">
    <div>
      <app-selector-component (colorEnviado)="obtenerColor($event)"></app-selector-component>
    </div>
    
    <div class="mx-3">
      <br><br>
      <app-checkbox-component></app-checkbox-component>
    </div>
  </div>
</div>