
<div class="content">
    <div>
        <form [formGroup]="miFormulario" autocomplete="off">
            <div>
                <div class="row">
                    <label>Nombre</label>
                    <input type="text"
                    formControlName="nombre">
                    <span class="form-text text-danger"
                        *ngIf="controlarError('nombre')">
                        El campo nombre es obligatorio
                    </span>
                </div>
        
                <div class="row separator">
                    <label>Contraseña</label>
                    <input type="password"
                    formControlName="password">
                    <span class="form-text text-danger"
                        *ngIf="controlarError('password')">
                        El campo es obligatorio
                    </span>
                </div>
                
                <div class="row separator">
                    <label>Confirmar la contraseña</label>
                    <input type="password"
                    formControlName="password2">
                    <span class="form-text text-danger"
                        *ngIf="controlarError('password2')">
                        El campo es obligatorio
                    </span>
                </div>
        
                <div class="row separator">
                    <label>Correo</label>
                    <input type="email"
                    formControlName="email">
                    <span class="form-text text-danger"
                        *ngIf="controlarError('email')">
                        {{ emailErrorMsg }}
                    </span>
                </div>
        
                <div class="row separator">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="promociones"
                        formControlName="promociones">
                        <label class="form-check-label" for="promociones">
                          Enviame ofertas promocionales
                        </label>
                    </div>
                </div>
        
                <div class="row separator">
                    <select class="form-select"
                            formControlName="pais">
                        <option value=""> --Seleccione un país-- </option>
                        <option *ngFor="let pais of paises"
                            [value]="pais.name"> 
                            {{ pais.name }}
                        </option>
                    </select>
                </div>
        
                <div class="row separator">
                    <label>Ciudad</label>
                    <input type="text"
                    formControlName="ciudad">
                    <span class="form-text text-danger"
                        *ngIf="controlarError('ciudad')">
                        El campo es obligatorio
                    </span>
                </div>
                <button class="btn btn-primary float-end separator"
                        type="button"
                        (click)="guardar()"
                        [disabled]="!miFormulario.valid">
                    {{ sw ? 'Crear' : 'Actualizar'}}
                </button>
            </div>
        </form>
    </div>
    <div>
        <!-- To the separation -->
    </div>
    <div>
        <app-table-component [persona]="persona" (eventEmitter)="filaSeleccionada($event)"></app-table-component> 
    </div>
</div>